# http://www.gnu.org/software/automake

Makefile
scm/Makefile
src/Makefile
modules/Makefile
lib/Makefile
lib/.libs
lib/.libs/*
*.Po
*.lo
*.la
*.so*
*.o*
*~
/lib/.deps/libguile_dijkstra_la-dijkstra.Plo
/lib/.deps/libguile_fov_la-fov.Plo
/lib/.deps/libguile_fov_la-fovwrapper.Plo
/modules/error
/modules/stay-alive/.agent.scm.swp
