# http://www.gnu.org/software/automake

Makefile
scm/Makefile
src/Makefile
modules/Makefile
lib/Makefile
lib/.libs
lib/.libs/*
*.Po
*.lo
*.la
*.so*
*.o*
*~
/lib/.deps/libguile_dijkstra_la-dijkstra.Plo
/lib/.deps/libguile_fov_la-fov.Plo
/lib/.deps/libguile_fov_la-fovwrapper.Plo
/modules/error
/modules/stay-alive/.agent.scm.swp
/aclocal.m4
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/config.h.in
/config.log
/config.status
/configure
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/config.h
/libtool
/stamp-h1
